.serf {

    background-image: url(../img/serf-bg.png);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;

}



.serf__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -66px;
}

.serf-box {
    &__wrapper {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    &__inner {
        min-height: 750px;
        background: rgba(#1C2121, .85);
        position: relative;
        transition: all .5s;

        &:hover {
            background: rgba(#1C2121, .3);

            .serf-box__inner-btn {
                display: block;
            }
        }
    }
}

.serf-slider {
    padding-top: 110px;

    .slider__arrows {
        top: 50px;
        opacity: 0.25;
    }

    .slick-slide:nth-child(4n+1) {
        .serf-box {
            margin-top: 32px;
        }
    }

    .slick-slide:nth-child(4n+3) {
        .serf-box {
            margin-top: 89px;
        }
    }

    .slick-current {
        .serf-box__inner-btn {
            display: block;

        }

        .serf-box__inner {
            background: rgba(#1C2121, .3);
        }
    }

}

.serf-box__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 72px 0 0 40px;
    width: 140px;
}

.serf-box__inner-location {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: 0;
    height: 0;
    left: 40px;
    bottom: 80px;
    white-space: nowrap;

    span {
        font-weight: 100;

    }
}

.serf-box__inner-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;

}
.surf-box__wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../img/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    .slick-list {
        min-height: 635px;
        overflow: visible;
    }

    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0 32px;
        }
    }
}

.slider-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.slider-dots__content-item {
    text-align: center;

    img {
        padding-bottom: 10px;
        margin: 0 auto;
    }
}

.slider-dots__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.slider-dots__content-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.slider-dots__content-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background-color: #4AF6CD;
        width: 80px;
        height: 1px;
        bottom: 5px;
        left: 0;
    }
}

.slider-dots__content-subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.slider-dots__content-link {
    padding-top: 4px;
}

.slider-dots__circle {
    width: 23px;
    height: 23px;
    background-color: #4AF6CD;
    border-radius: 50%;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content {
    display: none;
    background-color: rgba(#0f1010, .7);
    border-radius: 20px;
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid #4AF6CD;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -21px;
        left: calc(50% + -.5px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.slider-dots {
    position: relative;
}

.slider-dots--1 {
    top: 335px;
    left: 0;

    .slider-dots__content {
        transform: translateX(0);

        &:before {
            left: calc(0% + -.5px);
        }
    }
}

.slider-dots--2 {
    top: 270px;
    left: 0;

    .slider-dots__circle {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-image: url(../img/mini-marker.png);
            width: 14px;
            height: 17px;
            background-size: cover;
            right: -15px;
            top: -25px;

        }
    }
}

.slider-dots--3 {
    top: 335px;
    left: 25px;
}

.slider-dots--4 {
    top: 470px;
    left: -25px;
}

.slider-dots--5 {
    top: 230px;
    left: -65px;
}

.slider-dots--6 {
    top: 550px;
    left: -120px;
}

.slider-dots--7 {
    top: 375px;
    left: -95px;
}

.slider-dots--8 {
    top: 470px;
    left: 35px;

    .slider-dots__content {
        transform: translateX(-262px);

        &:before {
            left: auto;
            right: 0;
        }
    }
}