.shop {
    padding: 260px 0;
    background-image: url(../img/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    .slider__arrows{
        opacity: 0.25;
        top: -18px;
    }
}

.shop__slider {
    padding-left: 64px;
}

.shop__slider-item {
    display: flex !important;

}

.shop__slider-inner {
    padding-top: 166px;
}

.shop__slider-inner {
    width: 100%;
    max-width: 480px;
    margin-right: 40px;
}

.descr {
    margin-bottom: 47px;
}

.headline-right {
    margin-bottom: 8px;
}

.descr__head-shop {
    max-width: 340px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    text-transform: uppercase;
    color: #FFFFFF;
}

.shop__slider-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 64px;

    sup {
        font-size: 22px;

    }
}

.shop__star-list {
    margin-left: -9px;
}

.shop__slider-content {
    padding-left: 170px;
    display: flex;
    align-items: flex-end;
}

.shop__extras-inner {
    display: flex;

}

.shop__extras {
    padding-left: 150px;
}

.shop__extras-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 25px;
}

.shop__extras-box {
    text-align: center;
    margin-right: 57px;

    img {}
}

.shop__extras-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    margin-bottom: 16px;
}

.shop__extras-prise {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
}

.shop__extras-images {
    min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.surfboard {
    position: relative;
}

.surfboard-box {
    position: absolute;
    
}
.surfboard-box__posicion--1{
    top: 202px;
    right: 36px;
    }
    .surfboard-box__posicion--2{
    top: 295px;
    left: 0;
    }
    .surfboard-box__posicion--3{
    top: 610px;
    left: 53px;
    .surfboard-box__content{
        padding-left: 0;
        padding-right: 104px;
        top: -15px;
        left: -400px;
        &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            right: 0;
            left: auto;
            top: 50%;
        }
    }
    }
.surfboard-box__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    cursor: pointer;

    &.active {
        .circle-row {
            transform: translate(-50%, -50%)rotate(0deg);
        }
        
    }
}

.circle-row {
    background-color: #4AF6CD;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(0deg);

    &+.circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }

}

.surfboard-box__circle.active + .surfboard-box__content{
    display: block;
}

.surfboard-box__content {
    display: none;
    position: absolute;
    top: -15px;
    width: 359px;
    padding-left: 104px;
    margin-left: 24px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 8px;
        top: 50%;
    }
}